*{
    margin:0;
    padding: 0;
}
#box{ 
    width: 500px;                                

    border-radius: 5px;             
    margin: 50px auto 50px auto;   

    overflow:hidden;
    position: absolute;
    top: 150px;
     left:40%;


}

/* center */
.center img{
    width: 100%;
     height: 100%;
     position: absolute; 
     opacity: 0
    }
.center img:nth-of-type(1){
    opacity: 1;
}
/*  */
.bottom{
    color: rgb(255, 253, 253);
	height: 68px;
    width: 100%;
    position: absolute;
    top: 0%;

    border: solid;
    border-radius: 0px 0px 8px 8px;

}

.menus{

    list-style: none;

}

.menus li:nth-of-type(1){
    float:left;
    margin-left: 50px;
    line-height: 55px;
    font-size: 32px;
}
.menus li:nth-of-type(2){

float: right;
margin-right: 50px;
line-height: 55px;
font-size: 32px;
    
}
.menus li:nth-of-type(1):hover{
    cursor:pointer ;
    text-decoration: underline;
}
.menus li:nth-of-type(2):hover{
    cursor:pointer ;
    text-decoration: underline;
}

#title{
    
    height: 30px;
    color: rgb(236, 229, 229);
    background-color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-top: 10px;
}
form{
    margin: 30px;
}
label {
    display: inline-block;
    width: 80px;
    text-align: center; 
    line-height: 50px;
 
}
input{
    width: 300px;
    height: 30px;
    border: solid 1px #555;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
   
}
input[type="submit"]:hover{
    
    background-color: rgb(148, 138, 142);
    outline: none;
}
input[type="submit"]{
    color: rgb(255, 249, 249);
    width: 300px;
    margin-left: 80px;
    background-color: rgb(0, 0, 0);
    outline: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}